#pageHead{
    background-color: #21325A;
    color: white;
    height: 200px;
    padding-top: 70px;
    text-align: center;
    font-weight: bold;
}

#searchhead{
    font-weight: bold;
}

.results{
    margin-left: 20px;
}

#title_art{
    font-weight: bold;
}

#by_art,#sec_art,#date_art{
    font-size: 15px;
}


